<nav class="main-nav">
	<ul class="nav-links">
		<li class="nav-links__item">
			<a class="<%= path === '/' ? 'active': '' %>" href="/">Home</a>
		</li>
		<li class="nav-links__item">
            <a class="<%= path === '/all' ? 'active' : '' %>" href="/notes/all">Notes</a>
        </li>
        <li class="nav-links__item">
            <a class="<%= path === '/create' ? 'active' : '' %>" href="/notes/create">Add</a>
        </li>
	</ul>
</nav>
