@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(115, 205, 98);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

body, input, textarea, button {
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

main {
    height: 100%;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    max-width: 500px;
    width: 100%;
}

.message {
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
}

.not-found {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.not-found img {
    width: 100%;
}

.not-found h1,
.not-found h2,
.not-found p {
    margin: 0;
}

.not-found p {
    text-align: center;
    word-break: break-all;
}

.create-btn {
    background-color: black;
    border-radius: 40px;
    width: fit-content;
    align-self: flex-end;
}

.create-btn a {
    padding: 0.7rem;
    text-decoration: none;
    display: inline-block;
    color: white;
}

.create-btn a:hover {
    color: yellow;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.footer {
    background-color: black;
    height: 4rem;
    margin-top: auto;
}

.footer ul {
    list-style-type: none;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: yellow;
}

.note-img {
    height: 55px;
}


.main-nav {
    background-color: black;
    height: 4rem;
    z-index: 3;
}

.nav-wrapper {
    display: none;
}

.nav-wrapper-mobile {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}

#hamburger-menu {
    width: 4rem;
    cursor: pointer;
}

#hamburger-menu img {
    width: 100%;
}

#nav-links-mobile {
    font-size: 1.1rem;
    list-style-type: none;
    display: none;
    background-color: black;
    padding: 1rem 4rem 4rem 1rem;
    border-bottom-right-radius: 8px;
    position: absolute;
    left: 0;
    top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-links__item a {
    color: white;
    text-decoration: none;
}
 
.nav-links__item .active {
    color: yellow;
    border-bottom: 3px solid yellow;
}

#backdrop {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
}

@media (min-width: 650px) {
    .nav-wrapper-mobile {
        display: none;
    }

    .nav-wrapper {
        height: 100%;
        max-width: 1168px;
        padding: 1rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-links {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.1rem;
        list-style-type: none;
    }
}