@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(115, 205, 98);
}

body, input, textarea, button {
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

main {
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav {
    background-color: black;
    height: 4rem;
}

.nav-wrapper {
    height: 100%;
    max-width: 1168px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-img {
    height: 55px;
}

.nav-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    list-style-type: none;
}

.nav-links__item a {
    color: white;
    text-decoration: none;
}
 
.nav-links__item .active {
    color: yellow;
    border-bottom: 3px solid yellow;
}

.create-btn {
    background-color: black;
    border-radius: 40px;
    width: fit-content;
    align-self: flex-end;
}

.create-btn a {
    padding: 0.7rem;
    text-decoration: none;
    display: inline-block;
    color: white;
}

.create-btn a:hover {
    color: yellow;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}