<%- include('../includes/head.ejs') %>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/notes/create">Create</a></li>
            <li><a href="/notes/all">Notes</a></li>
        </ul>
    </nav>
    <h1>Notes Page</h1>
    <% if (notes.length> 0) { %>
        <ul>
            <% for (let note of notes) { %>
                <li>
                    <%= note %>
                </li>
                <% } %>
        </ul>
        <% } else { %>
            <h2>You don't have any notes yes!</h2>
            <% } %>
</body>

</html>