.create-form {
    position: relative;
    width: 100%;
    max-width: 500px; 
}

.form-control {
    margin: 1rem 0;
    width: 100%;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.3rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}

.create-note-btn {
    border: none;
    background: black;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 40px;
    position: absolute;
    bottom: -30px;
    right: 0;
}

.create-note-btn:hover {
    color: yellow;
}