<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <header class="home-header">
                    <h1>Write your thoughts down as they come to you.</h1>
                    <p>Notes is a simple to use free note taking app made with Node.js, EJS and MongoDB.</p>
                    <div class="create-btn"><a href="/notes/create">Try Notes, it's FREE</a></div>
                </header>
            </main>

        <%- include('../includes/footer.ejs') %>
    </body>

    </html>