<%- include('../includes/head.ejs') %>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/notes/create">Create</a></li>
            <li><a href="/notes/all">Notes</a></li>
        </ul>
    </nav>
    <h1>Home Page</h1>
</body>

</html>